@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --card-width-lg: 157px;
    --card-height-lg:220px;
     
    --card-width-sm: 120px;
    --card-height-sm:168px;
    
    --num-cards:4;
    --card-horizontal-space-lg:100px;
    --card-horizontal-space-sm: 50px;

    --badge-bg-color:silver;
    --primary-color:black;
    --secundary-color:white;

   --primary-font:'Quicksand', sans-serif;
}

.badge{
 background-color: var(--badge-bg-color);
 color: var(--secundary-color);
 padding: 2px 10px 3px;
 border-radius: 15px;
}

body{
    height: 100vh;
    font-family: var(--primary-font);
}

.status-atual{
  font-size:1.5rem;
  text-align: center;
}

header{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.header-titulo-container{
  display: flex;
  justify-content: center;
}

.header-round-info-container{
  display: flex;
  justify-content: space-evenly;
}

.header-status-info-container,
.header-butao-container, 
.header-placar-container,
.header-rodada-container,
.header-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-placar-container,
.header-rodada-container,
.header-img-container{
 width: 150px;
}

.header-img{
  height: 75px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(77, 71, 71, 0.2);
  padding: 5px;
  transform: rotate(-3deg);
}

main{
    height: 55%;
    display: flex;
    justify-content: center;
}

.carta-container {
position: relative;
height: 100%;
width: calc(var(--card-width-lg) * (var(--num-cards)/ 2) + var(--card-horizontal-space-lg));
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: "a   b"
                     "c   d";
}

.carta-pos-a{
  grid-area: a;
}


.carta-pos-b{
    grid-area: b;
  }

  
.carta-pos-c{
    grid-area: c;
  }

  
.carta-pos-d{
    grid-area: d;
    
  }

  .carta-pos-a,.carta-pos-b,.carta-pos-c,.carta-pos-d{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.carta{
    position: absolute;
    height: var(--card-height-lg);
    width: var(--card-width-lg);
    perspective: 1000px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out
}
.carta-dentro{
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.5s;
   transform-style: preserve-3d;
}

.carta-frente, .carta-verso{
   position: absolute;
   width: 100%;
   height: 100%;
   --webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

.carta-img{
height: 100%;
}
.carta-verso{
    transform: rotateY(180deg);
}

.carta-dentro.flipar{
  transform: rotateY(180deg); 
}

.carta.misturar-esquerda{
  transform: translateX(300px) translateY(40px);
}

.carta.misturar-direita{
  transform: translateX(-350px) translateY(-40px);
}

.carta.fly-in{
  transform: translateY(-1000px) translateX(-600px) rotate(45deg);
}

#jogarJogo{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: none;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  animation: button-game-play-fade-in 10s 1;
}

#jogarJogo:hover {
  background: silver;
  color: darkblue;
}

@keyframes button-game-play-fade-in{
  from{opacity: 0;}
  to{opacity: 1;}
}

.button-game-play-container{
  width:150px;
  height:70px;
}

@media screen and (max-width:600px){

  .carta{
    width: var(--card-width-sm);
    height: var(--card-height-sm);
  }

  .carta-container{
    width: calc(var(--card-width-sm) * (var(--num-cards)/2) + var(--card-horizontal-space-sm));
  }

  main{
    height: 50%;
  }

  .status-atual{
    font-size: 1.2rem;
  }

  .button-game-play-container{
    width:120px;
    height:40px;
  }

  #jogarJogo{
    padding: 6px 8px;
    font-size: 12px;
    min-height: 40px;
  }

  .header-img{
    height:55px;
}

}